aiohttp
docx2txt
ipython
langchain
langchainhub
langchain_experimental
langchain_openai
#langchain-sap-llm
numpy
openai
pandas
pinecone-client
plotly.express
pypdf
python-dotenv
PyYAML
requests
streamlit
streamlit-chat
tiktoken
wikipedia


#chromadb
