aiohttp
docx2txt
ipython
langchain
langchainhub
langchain_experimental
langchain_openai
numpy
openai
pandas
pinecone-client
plotly.express
pypdf
python-dotenv
PyYAML
requests
streamlit
tiktoken
wikipedia


#chromadb
